:root{
	--mainColor:#010112;
	--secondaryColor:#131731;

	--borderColor:#020206;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(16, 8, 55, 0.8);
	--previewShadow:#25252f;


	--buttonColor:#000002;


}
