:root{
	--mainColor:#000000FF;
	--secondaryColor:#1C1C1EFF;

	--borderColor:#000000FF;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(0, 0, 0, 00);
	--previewShadow:#25252f;


	--buttonColor:#000000FF;


}
