:root{
	--mainColor:#19043e;
	--secondaryColor:#11042c;

	--borderColor:#000000;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(86, 18, 131, 0.8);
	--previewShadow:#240656;


	--buttonColor:#19043e;


}
