:root{
	--mainColor:#301934;
	--secondaryColor:#3c174e;

	--borderColor:#000000;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(95, 46, 113, 0.8);
	--previewShadow:#2b202f;


	--buttonColor:#15021c;


}
